*{
  box-sizing: border-box;
  line-height: 1.2;
  margin: 0;
}

body{
  margin: 0;
}

.app{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* =============
  header
============= */
.header{
  padding: 12px 24px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.title{
  width: 140px;
  margin: 0;
}

.title > img{
  width: 100%;
  /* display: block; */
}

.search-form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.search-form .input{
  width: 350px;
  font-size: 16px;
  padding: 4px 8px;
}

.search-form .button{
  font-size: 20px;
  width: 74px;
  margin-left: 20px;
}

/* =============
  map
============= */
main{
  flex-grow: 1;
}

.map-wrap,.map{
  height: 100%;
}

.map-wrap{
  position: relative;
}

/* =============
  modal
============= */
.map-modal{
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;
  height: 100%;
  transform: translateX(-100%);
  background-color: #ffffff; 
  display: flex;
  flex-direction: column;
  transition: 0.3s ease;
}

.map-modal.is-display{
  transform: translateX(0);
}

.map-modal .inner{
  width: 90%;
  max-width: 400px;
  margin: auto;
}

.modal-shop{
  padding: 24px 0;
  position: relative;
}

.modal-shop > .close-button{
  position: absolute;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.modal-shop > .close-button::before,
.modal-shop > .close-button::after{
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120%;
  height: 2px;
  background-color: #000000;
}

.modal-shop > .close-button::before{
  transform: translate(-50%, -50%) rotate(45deg);
}

.modal-shop > .close-button::after{
  transform: translate(-50%, -50%) rotate(-45deg);
}

.modal-shop-image{
  margin: 0;
  height: 170px;
}

.modal-shop-image img{
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
}

.modal-shop .shop-name{
  font-size: 28px;
  margin: 20px 0 0;
}

.post-wrap{
  border-top: 1px solid #000000;
  padding: 24px 0;
  height: 100%;
}

.post-wrap > .inner{
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 100%;
}

.post-list{
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  flex-grow: 1;
  height: 200px;
}

.post-list li{
  list-style: none;
  padding-bottom: 20px;
  margin-top: 20px;
  border-bottom: dashed 1px #000000;
}

.post-list li:first-child{
  margin-top: 0;
}

.post-list li .time{
  font-size: 16px;
}

.post-list li .comment{
  font-size: 16px;
  margin: 10px 0 0;
}

.form-list{
  margin: 0;
  padding-top: 12px;
}

.form-list > div{
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.form-list > div:first-child{
  margin-top: 0;
}

.form-list dt{
  flex-shrink: 0;
}

.form-list dd{
  flex-grow: 1;
  margin: 0;
}

.post-form{
  margin-top: auto;
}

.post-form-time,.post-form-comment{
  font-size: 16px;
  padding: 4px 8px;
}

.post-form-time{
  width: 100px;
}

.post-form-time + span{
  vertical-align: bottom;
  display: inline-block;
  margin-left: 5px;
}

.post-form-comment{
  width: 100%;
  min-height: 48px;
  resize: none;
}

.post-form .button{
  margin: 15px 0 0 auto;
  font-size: 16px;
  display: block;
}

/* =============
  TABLET
============= */
@media screen and (max-width: 991px){
  .map-modal{
    width: 400px;
  }

  .modal-shop > .close-button{
    top: 5px;
    right: 5px;
    width: 15px;
    height: 15px;
  }
}

/* =============
  SP
============= */
@media screen and (max-width: 767px){
  .header{
    padding: 12px;
    display: block;
  }

  .search-form{
    justify-content: flex-start;
    margin-top: 10px;
  }

  .search-form .button{
    font-size: 16px;
  }

  .map-modal{
    width: 100%;
    top: auto;
    bottom: 0;
    box-shadow: none;
    transform: translateY(100%);
  }

  .map-modal.is-display{
    transform: translateY(0);
  }

  .map-modal .inner{
    max-width: none;
  }

  .modal-shop{
    padding: 16px 0;
  }

  .modal-shop > .close-button{
    top: 3px;
    right: 3px;
  }

  .modal-shop-image{
    height: 100px;
  }

  .modal-shop .shop-name{
    font-size: 20px;
  }

  .post-wrap{
    padding: 16px 0;
  }

  .post-list{
    height: 150px;
  }
}